# Core
websockets~=16.0

# ML dependencies
torch~=2.7
numpy~=2.2
pandas~=2.3
scikit-learn~=1.7
xgboost~=3.1
joblib~=1.5
gymnasium~=1.2
stable-baselines3~=2.7
matplotlib~=3.10
folium~=0.20
tensorboard~=2.20

# Testing
pytest~=8.4
